<section data-ng-controller="UsersController" data-ng-init="findOne()">
    <div class="nav" >
        <ul class="pull-left"><li><a href="#!/">Home</a></li></ul>
        <ul ng-show="authentication.user" class="pull-right">
            <li><a href="/#!/users"> User List</a> </li>
            <li ng-show="authentication.user.pendingFriends.length > 0 || authentication.user.friends.length > 0">
                <a href="/#!/friends" ng-class="{notify:[authentication.user.pendingFriends.length > 0]}">Friends</a></li>
            <li><a href="/signout">Signout</a></li>
        </ul>
    </div>
    <div data-ng-controller="FriendsController">
        <h1 data-ng-bind="user.fullName"></h1>
        <div data-ng-show="authentication.user._id !== user._id && authentication.user.friends.indexOf(user._id) === -1">
        <br>
        <div ng-show="user.pendingFriends.indexOf(authentication.user._id) === -1">
            <button type="button"  ng-click="add(authentication.user,user)" >Add</button>
        </div>
        </div>
    </div>
    <div data-ng-show="authentication.user.friends.indexOf(user._id) !== -1">Already a friend. Put view history here</div>
    <small>
        <em>Joined on </em>
        <em data-ng-bind="user.created | date:'mediumDate'"></em>
    </small>
</section>