<section data-ng-controller="InteractionsController" ng-init="findOne()">
    <div class="nav" >
        <ul class="pull-left"><li><a href="#!/">Home</a></li></ul>
        <ul ng-show="authentication.user" class="pull-right">
            <li><a href="/#!/users"> User List</a> </li>
            <li ng-show="authentication.user.pendingFriends.length > 0 || authentication.user.friends.length > 0"><a href="/#!/friends">Friends</a></li>
            <li><a href="/signout">Signout</a></li>
        </ul>
    </div>
    <div>
        <p>Log Favour/Betrayal with {{friend.username}}</p>
        <form data-ng-submit="create(friend)" novalidate>
            <div>
                <label for="level">Level</label>
                <div>
                    <select ng-model="level" id ="level" ng-options="x for x in levelRange"></select>
                </div>
            </div>
            <div>
                <label for="description">Content</label>
                <div>
                    <textarea data-ng-model="description" id="description" cols="30"
                              rows="10" placeholder="what they did"></textarea>
                </div>
            </div>
            <div>
                <input type="submit">
            </div>
            <div data-ng-show="error">
                <strong data-ng-bind="error"></strong>
            </div>
        </form>
    </div>
</section>