<section data-ng-controller="FriendsController" data-ng-init="findOne()">
    <div class="nav" >
        <ul class="pull-left"><li><a href="#!/">Home</a></li></ul>
        <ul ng-show="authentication.user" class="pull-right">
            <li><a href="/#!/users"> User List</a> </li>
            <li ng-show="authentication.user.pendingFriends.length > 0 || authentication.user.friends.length > 0">
                <a href="/#!/friends" ng-class="{notify:[authentication.user.pendingFriends.length > 0]}">Friends</a></li>
            <li><a href="/signout">Signout</a></li>
        </ul>
    </div>
    <div><a href="#!/">Home</a></div>
    <br>
    <h1 data-ng-bind="friend.fullName"></h1>
    <small>
        <em>Joined on </em>
        <em data-ng-bind="friend.created | date:'mediumDate'"></em>
    </small>

    <section data-ng-controller="InteractionsController" ng-init="friendViewer()">
        <div>
            <div ng-show="logs.length === 0"> Looks like you don't have any logs yet... get logging!</div>
            <table id="t01" style="color:black">
                <tr>
                    <th>Doer</th>
                    <th>Receiver</th>
                    <th>Description</th>
                    <th>Score</th>
                    <th>Relationship</th>
                </tr>
                <tr ng-repeat="log in logs">
                    <td>{{log.instigator.username}}</td>
                    <td>{{log.target.username}}</td>
                    <td>{{log.description}}</td>
                    <td>{{log.level}}</td>
                    <td><a href="#!/interactions/{{log.instigator.id}}/show/{{log.target.id}}">View relationship</a></td>
                </tr>
            </table>
            <p>personal score: {{personalScore}}</p>
        </div>
    </section>
</section>